@model IWeShop.Models.Product_Category_Master

@{
    ViewBag.Title = "Edit Product Category";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="wrapper">
    <!-- .page -->
    <div class="page">
        <!-- .page-inner -->
        <div class="page-inner">

            <div class="page-section">
                <!-- .card -->
                <div class="card card-fluid">

                    <div class="card-body">
                        <header class="page-title-bar">
                            <!-- title and toolbar -->
                            <div class="d-md-flex align-items-md-start">
                                <strong class="mr-sm-auto"> <i class="fa fa-pencil-alt"></i> Edit Product Categories</strong>
                            </div>
                        </header>
                        @using (Html.BeginForm("Category_Edit", "Product", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.CategoryID)
                            <div class="card card-outline">
                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Category Name</label>
                                            <input type="text" class="form-control" maxlength="50" name="CategoryName" required placeholder="Category Name" value="@Model.CategoryName" />
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="text-center mb-3">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fas fa-check"></i> Submit
                                    </button>
                                    <a href="/Product/Category_List" class="btn btn-secondary mr-2">
                                        <i class="fas fa-times"></i> Cancel
                                    </a>
                                </div>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script src="/CKFinderScripts/ckfinder.js"></script>
    <script src="~/Content/assets/javascript/customckfinder.js"></script>

    <script>

        $('#Title').change(function () {
            $('#URLTitle').val($('#Title').val().replace(/\s+/g, '-').toLowerCase());
        });

        function GetInitialAdd() {
            if ($('#ImagePath').val() != "") {
                $("#imgCategory").attr("src", $('#ImagePath').val());
                $("#imgCategoryLarge").attr("src", $('#ImagePath').val());
            }
            if ($('#BannerPath').val() != "") {
                $("#imgBanner").attr("src", $('#BannerPath').val());
                $("#imgBannerLarge").attr("src", $('#BannerPath').val());
            }
        }

        GetInitialAdd();
    </script>
}